.lights-wrapper {
  height: 60vh;
  width: 50vw;
  position: relative;
  background: rgb(0, 0, 0);
  overflow: hidden;
  box-shadow: 0 0 25px 2px rgba(255, 255, 255, 0.582);
  border-radius: 30px;
}
.lights-item {
  background-color: azure;
  border-radius: 50%;
  position: absolute;
  animation: ease-in infinite;
  animation-name: Lights;
  box-shadow: 0px 0 10px 2px azure;
  border: 1px solid white;
}

@keyframes Lights {
  0% {
  }
  30% {
    box-shadow: 0px 5px 35px 3px whitesmoke;
  }
  45% {
    box-shadow: 0px 0px 10px 4px whitesmoke;
  }
  60% {
    box-shadow: 0px -5px 25px 3px azure;
  }
  100% {
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);

    transform: translateY(calc(60vh + 110px));
  }
}
